body {
    font-family: Arial, sans-serif;
    background-color: #44fbec;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #4b6cb7;
    color: white;
    margin: 0;
    padding: 15px 0;
}

form {
    background-color: rgb(250, 250, 250);
    margin: 20px auto;
    padding: 15px;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

select, input, button {
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

button {
    background-color: #4b6cb7;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background-color: #395591;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 70%;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #f2f2f2;
}

.tr:hover {
    background-color: #f9f9f9;
}

#mensaje {
    color: #555;
    margin-top: 15px;
}